$themes: (
  default: (
    backgroundColor: #AAAAAA,
    backgroundLightColor: #E1E1E1,
    backgroundDarkColor: #555555,
    foregroundColor: #FFFFFF,
    foregroundLightColor: #555555,
    foregroundDarkColor: #E1E1E1,
    inputBackgroundColor: #E4E4E4,
    inputForegroundColor: #000000,
    primaryColor: #1E90FF,
    secondaryColor: #163957,
    thirdColor: #6CE4BE,
  ),
);
